.DS_Store
Thumbs.db
*.log
laravel-app/storage/logs/*
!laravel-app/storage/logs/.gitkeep
laravel-app/storage/framework/cache/data/*
laravel-app/storage/framework/sessions/*
laravel-app/storage/framework/views/*
laravel-app/storage/framework/testing/*
!laravel-app/storage/framework/cache/data/.gitkeep
!laravel-app/storage/framework/sessions/.gitkeep
!laravel-app/storage/framework/views/.gitkeep
laravel-app/bootstrap/cache/*.php
!laravel-app/bootstrap/cache/.gitkeep
node_modules/
.phpunit.result.cache
.phpactor.json
.idea/
.vscode/
